<h1>Authentication Demo</h1>
{{#if user}}
<p>Welcome, {{user.username}}!</p>
<div>
    <a href="/logout">Logout</a>
</div>
{{else}}
<p>Welcome, guest!</p>
<div>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>
{{/if}} 