<div class="product-card">
    <h2>{{ product.name }}</h2>
    <div class="product-details">

        <p>{{ product.description | textTrimmer}}</p>
        <p><strong>Price:</strong> ${{ product.price }}</p>
        <p><strong>Seller:</strong> {{ product.seller }}</p>
        <p><strong>Added on:</strong> {{ product._createdOn | epochToDate }}</p>
    </div>
    <div class="product-btns">
        <div class="public-btns">
            <button>Details</button>
        </div>
        <div class="private-btns">
            <button>Edit</button>
            <button>Delete</button>
        </div>
    </div>

</div>