body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('/background.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    padding: 30px;
}