body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #440000;
    background-image: url('/background.jpg');
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    padding: 30px;
}