<h1>Home Page</h1>
<p>Welcome to cookies demo</p>
<a href="/set">Set Cookie</a>
<a href="/get">Cookie Reader</a>

<div>
    <a href="/use-ligth">Use Light Theme</a>
    <a href="/use-dark">Use Dark Theme</a>
</div>
<div>
    <a href="/set-session">Set Session</a>
    <a href="/get-session">Get Session</a>
</div>