/* latin */
@font-face {
    font-family: 'Gochi Hand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/gochihand/v23/hES06XlsOjtJsgCkx1Pkfon_-w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gochi Hand', Fallback, sans-serif;
    background-color: #e0e0e0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    width: 800px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.upper-part {
    position: relative;
    padding: 20px;
}

.upper-part>img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.postcard-content {
    position: absolute;
    bottom: 40px;
    background-color: rgb(243, 243, 243);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 20px;
    padding: 15px;
    text-align: center;
    width: calc(100% - 80px);
}

.postcard-content>h2 {
    margin-bottom: 10px;
}


.lower-part {
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;
    border-top: 2px solid rgb(214, 214, 214);
}

.lower-part>h2 {
    margin-bottom: 10px;
}

p {
    opacity: 0.5;
}