.product-wrapper {
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    margin: 30px auto;
    padding: 30px 50px;
    border-radius: 5px;
    width: 80%;
    background-color: #e8d7f1;
}

.product-name {
    color: #111;
}

.image {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.image img {
    width: 200px;
    height: 200px;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.product-details p {
    margin: 10px 0;
    color: #333;
}

.private-btns {
    display: flex;
    justify-content: flex-end;
}

.private-btns button {
    background-color: #a663cc;
}

.private-btns button:hover {
    background-color: #3c096c;
}