<div class="wrapper">
    <form class="registerForm">
        <fieldset>
            <legend>Register</legend>

            <p class="field">
                <label for="username">Username</label>
                <input type="username" name="username" id="username" required appAutoFocus>
            </p>

            <p class="field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </p>

            <p class="field">
                <label for="contact">Contact number</label>
                <input type="contact" name="contact" id="contact" required>
            </p>

            <p class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </p>

            <p class="field">
                <label for="rePass">Repeat Password</label>
                <input type="rePass" name="rePass" id="rePass" required>
            </p>

            <p>Already a member? Click <span><a routerLink='/login'>here</a></span> to log in!</p>

            <input type="submit" value="Register">

        </fieldset>
    </form>
</div>