.flex-container {
    display: flex;
    width: 400px;
    padding: 1rem;
    border: 2px solid blue;
    align-items: flex-start;
}

.flex-container .flex-item {
    border: 2px solid black;
    padding: 20px;
    background-color: #eee;
}

.flex-grow-one {
    flex-grow: 1;
}

.flex-grow-two{
    flex-grow: 2;
}

.flex-grow-three{
    flex-grow: 3;
}
