.flex-container {
    display: flex;
    width: 400px;
    height: 400px;
    padding: 1rem;
    border: 2px solid blue;
    flex-wrap: wrap;
}

.flex-container .flex-item {
    border: 2px solid black;
    padding: 20px;
    background-color: #eee;
}

.align-start {
    align-content: flex-start;
}

.align-center {
    align-content: center;
}

.align-end {
    align-content: flex-end;
}

.align-between {
    align-content: space-between;
}

.align-around {
    align-content: space-around;
}