/* login register forms */

form.login,
form.register {
    width: 40%;
    margin: 2em auto 0;
    text-align: center;
    background-color: #e4e3e3;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login fieldset,
.register fieldset {
    border-radius: 0.5em;
    padding: 1em;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login h2,
.register h2 {
    padding-top: 0;
    border-bottom: none;
    color: #234465;
    font-size: 1.8em;
}

.login p,
.register p {
    padding-bottom: 0;
    padding-top: 1.5rem;
    color: #333;
}

.login input,
.register input {
    flex: 0 1 100%;
    border: 1px solid #999;
    padding: 0.4em;
    border-left: 0.4em solid green;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    font-size: 1em;
}

.login select,
.register select {
    border-color: #333;
    padding: 0.3em;
    border-radius: 0.3em;
}

.login button,
.register button {
    background-color: #234465;
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 0.7em 1.5em;
    margin-top: 1.5rem;
    width: 60%;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.login button:hover,
.register button:hover {
    transform: scale(1.05);
}

.login i,
.register i {
    border: 1px solid #999;
    border-right: none;
    padding: 0.55em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background-color: #e9ecef;
}

.login a,
.register a {
    color: #234465;
    text-decoration: none;
}

.login a:hover,
.register a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.register .tel {
    padding-right: 0.8em;
}

.login .field,
.register .field {
    display: flex;
    padding-bottom: 0.5em;
    align-items: center;
}

.login .field input,
.register .field input {
    margin-left: 0.5em;
}

p.error {
    text-align: left;
    border-radius: 0.5em;
    color: red;
    padding-top: 0;
    font-weight: bold;
}

.input-error {
    border-left-color: red;
    border-color: red;
}