<main class="errorPage">
    <!-- Error Page -->
    <section id="errorPage">
        <img src="./static/images/error-images.png">
        <div>
            <h2>Awww... Dont't Worry!</h2>
            <h3>It's just a 404 Error!</h3>
        </div>
    </section>
</main>