<div class="container">
    <form class="login" #form="ngForm" (ngSubmit)="login(form)">

        <fieldset>
            <h2>Login Form</h2>

            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <!-- class="input-error" -->
                <input [class]="(
                    (inputEmail?.touched && inputEmail?.errors?.['required']) 
                    || (inputEmail?.touched && inputEmail?.errors?.['emailValidator']))
                    ? 'input-error'
                    : ''" type="email" name="email" id="email" placeholder="john.doe@gmail.com" ngModel
                    #inputEmail="ngModel" required [appEmail]="domains">
            </p>

            @if(inputEmail?.touched){
            @if(inputEmail?.errors?.['required']){
            <p class="error">
                Email is required!
            </p>
            }
            @if(inputEmail?.errors?.['emailValidator']){
            <p class="error">
                Email is not valid!
            </p>
            }
            }

            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input [class]="(
                    (inputPassword?.touched && inputPassword?.errors?.['required']) 
                    || (inputPassword?.touched && inputPassword?.errors?.['minlength']))
                    ? 'input-error'
                    : ''" type="password" name="password" id="password" placeholder="******" ngModel
                    #inputPassword="ngModel" required minlength="5">
            </p>

            @if(inputPassword?.touched){
            @if(inputPassword?.errors?.['required']){
            <p class="error">
                Password is required!
            </p>
            }
            @if(inputPassword?.errors?.['minlength']){
            <p class="error">
                Password must be at least 5 characters!
            </p>
            }
            }

            <button [disabled]="form.invalid"
                [style]="{backgroundColor: form.invalid ? 'grey' : '#234465'}">Login</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/register">Register</a>
            </p>

        </fieldset>
    </form>
</div>