.current-book-of-the-week {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    padding: 0px;
}

.current-book-banner {
    margin-right: 20px;
    cursor: pointer;
}

.current-book-banner img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    box-shadow: 0px 0px 20px 0px #4faddb, -12px -4px 5px #000000;
    border-radius: 5px;
}

.current-book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-of-the-week {
    font-size: 2rem;
    margin-bottom: 0px;
    margin-top: 5px;
}

.author-of-the-week {
    font-style: italic;
    margin-bottom: 0px;
}

.past-discussion-section {
    margin-left: 20px;
}

.past-section-title {
    font-size: 2rem;
    text-align: center;
}

.past-discussions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.past-book-banner img {
    width: 200px;
    height: 300px;
    box-shadow: 0px 0px 20px 0px #4faddb, -12px -4px 5px #000000;
    border-radius: 5px;
    cursor: pointer;
}

.join-discussion {
    background-color: #4faddb;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    margin-left: 20px;
}

.join-discussion:hover {
    background-color: #0d6ca3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.75);
}

.join-discussion:active {
    background-color: #083e5e;
    transform: translateY(3px);
}

.thumbs-up,
.thumbs-down {
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.thumbs-up {
    color: #007bff;
}

.thumbs-up:hover {
    color: #0056b3;
}

.thumbs-down {
    color: #ff0000;
}

.thumbs-down:hover {
    color: #cc0000;
}

.see-discussion {
    background-color: #a85d31;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
}

.see-discussion:hover {
    background-color: #7d3b15;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.75);
}

.see-discussion:active {
    background-color: #421a03;
    transform: translateY(3px);
}

#latest-comments {
    margin-bottom: 10px;
}

.comment {
    margin-bottom: 10px;
    padding: 0.5em;
    background-color: #ecf0f3;
    border-radius: 5px;
    box-shadow: 0 10px 3px rgba(255, 100, 255, 0.1);
}

.comment-author {
    margin-bottom: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.comment-text {
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.test-box {
    margin-left: 20px;
    font-size: 1.5rem;
    padding: 10px;
    position: absolute;
    right: 20px;
}

.test-box div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.test-box h3, .test-box h4 {
    margin: 10px 0;
}

.test-box p {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.test-box a {
    color: #7289da;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.test-box a:hover {
    text-decoration: underline;
}

.test-box i {
    margin-right: 5px;
}