h1 {
    font-size: 150%;
    margin: 0;
    padding: 10px;
    text-align: center;
}

input#search-bar {
    width: 97.75%;
    /*to fix*/
    padding: 10px;
    font-size: 1rem;
    background-color: #f2e4ab;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.input-non-highlight {
    box-shadow: 0px 0px 20px 0px #4faddb, -4px -4px 5px #191c21;
}

.input-highlight {
    border: 2px solid #fff;
}

#book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.book {
    background-color: #f2e4ab;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px #4faddb, -4px -4px 5px #191c21;

}

.book img.cover {
    width: 100%;
    height: 370px;
    /*to fix*/
    border-radius: 8px;
    margin-bottom: 10px;
}

.book h2.title {
    font-size: 140%;
    margin-bottom: 5px;
    margin-top: 0;
}

.book p {
    margin: 5px 0;
}

.book p.author::before {
    content: "Author: ";
    font-weight: bold;
}

.book p.genre::before {
    content: "Genre: ";
    font-weight: bold;
}

.book p.year::before {
    content: "Year: ";
    font-weight: bold;
}

.book p.summary::before {
    content: "Summary: ";
    font-weight: bold;
}

button {
    margin-right: 5px;
}