.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background-color: #e8d7f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card h2 {
    font-size: 1.25rem;
    padding-top: 0.5rem;
    color: #333;
}

.product-card p {
    margin: 4px 0;
    font-size: 1rem;
    color: #555;
}

.chunk-wrapper{
    display: flex;
    justify-content: space-between;
}