/* Basic resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#about-section {
    padding: 20px;
}

#about-section>div {
    margin-bottom: 40px;
}

#about-intro,
#about-mission,
#about-history,
#about-team,
#about-services,
#about-testimonials,
#about-culture,
#about-contact {
    background: #f2e4ab;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #4faddb, -12px -4px 5px #000000;
}

h1,
h2 {
    margin-bottom: 20px;
    color: #333;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

p {
    margin-bottom: 0px;
}

#about-team .team-member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#about-team img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    object-fit: cover;
}

#about-team h3 {
    margin: 10px;
    font-size: 1.5em;
}

#about-team p {
    margin: 0;
}

#about-testimonials blockquote {
    font-style: italic;
    border-left: 5px solid #ccc;
    padding-left: 20px;
}

#about-testimonials footer {
    margin-top: 10px;
}

#about-contact ul {
    margin-top: 10px;
    list-style: none;
}

#about-contact ul li {
    margin-bottom: 10px;
}