footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #234465;
    height: 8vh;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
}