<main>
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
    <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->

    <div class="content">
        <h1>Discover the Beauty of the Volcanoes</h1>
        <p>A volcano is an opening in the earth's surface that allows magma, volcanic ash and gases to escape. They
            are generally found where tectonic plates come together or separate, but they can also occur in the
            middle of plates due to volcanic hotspots.</p>
        <a href="/catalog" class="catalog">Catalog</a>
    </div>
</main>