<div class="wrapper">
    <form class="createForm" #form="ngForm" (ngSubmit)="addProduct(form)" appAutoFocus>
        <fieldset>
            <legend>Create a listing</legend>

            <p class="field">
                <label for="name">Name</label>
                <input [class]="(
                    (inputName?.touched && inputName?.errors?.['required']) 
                    || (inputName?.touched && inputName?.errors?.['minlength']))
                    ? 'input-error'
                    : ''" type="text" name="name" id="name" required appAutoFocus ngModel #inputName="ngModel"
                    minlength="5">
            </p>

            @if(inputName?.touched){
            @if(inputName?.errors?.['required']){
            <p class="error">
                Product name is required!
            </p>
            }
            @if(inputName?.errors?.['minlength']){
            <p class="error">
                Product name must be at least 5 characters long!
            </p>
            }
            }

            <p class="field">
                <label for="price">Price</label>
                <input [class]="(
                    (inputPrice?.touched && inputPrice?.errors?.['required']))
                    ? 'input-error'
                    : ''" type="number" name="price" id="price" required ngModel #inputPrice="ngModel" min="0">
            </p>

            @if(inputPrice?.touched){
            @if(inputPrice?.errors?.['required']){
            <p class="error">
                Price is required!
            </p>
            }
            }

            <p class="field">
                <label for="image">Image URL</label>
                <input [class]="(
                    (inputImage?.touched && inputImage?.errors?.['required']))
                    ? 'input-error'
                    : ''" type="text" name="image" id="image" required ngModel #inputImage="ngModel">
            </p>

            @if(inputImage?.touched){
            @if(inputImage?.errors?.['required']){
            <p class="error">
                Image URL is required!
            </p>
            }
            }

            <p class="field">
                <label for="description">Description</label>
                <textarea [class]="(
                    (inputDesc?.touched && inputDesc?.errors?.['required']) 
                    || (inputDesc?.touched && inputDesc?.errors?.['minlength']))
                    ? 'input-error'
                    : ''" type="text" name="description" id="description" required ngModel #inputDesc="ngModel"
                    minlength="15"></textarea>
            </p>

            @if(inputDesc?.touched){
            @if(inputDesc?.errors?.['required']){
            <p class="error">
                Description is required!
            </p>
            }
            @if(inputDesc?.errors?.['minlength']){
            <p class="error">
                Description must be at least 15 characters long!
            </p>
            }
            }

            <p class="field">
                <input type="checkbox" name="checkbox" id="checkbox" required>
                <label for="checkbox"><i>I agree that my name and phone number will be publicly visible on the offer I
                        am
                        creating.</i></label>
            </p>

            <input type="submit" value="Publish">
        </fieldset>
    </form>
</div>