<div class="wrapper">
    <form class="createForm" #form="ngForm" (ngSubmit)="addProduct(form)">
        <fieldset>
            <legend>Create a listing</legend>

            <p class="field">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required appAutoFocus ngModel #inputName="ngModel" minlength="5">
            </p>

            <p class="field">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" required ngModel #inputPrice="ngModel" min="0">
            </p>

            <p class="field">
                <label for="image">Image URL</label>
                <input type="text" name="image" id="image" required ngModel #inputImage="ngModel">
            </p>

            <p class="field">
                <label for="description">Description</label>
                <textarea type="text" name="description" id="description" required ngModel #inputDesc="ngModel" minlength="15"></textarea>
            </p>

            <p class="field">
                <input type="checkbox" name="checkbox" id="checkbox" required>
                <label for="checkbox"><i>I agree that my name and phone number will be publicly visible on the offer I
                        am
                        creating.</i></label>
            </p>

            <input type="submit" value="Publish">
        </fieldset>
    </form>
</div>