<header>
    <div class="logo-wrapper">
        <img src="magic-shop-logo.png" />
        <p class="logo"><span class="logo">Magic item shop</span></p>
    </div>
    <div class="navbar-wrapper">
        <nav>
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/catalog">Catalog</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="logo-wrapper">
        <p><span>Profile</span></p>
        <img src="profile-logo.png" />
    </div>
</header>