<header>
    <div class="logo-wrapper">
        <img src="magic-shop-logo.png" />
        <p class="logo"><span class="logo">Magic Bazaar</span></p>
    </div>
    <div class="navbar-wrapper">
        <nav>
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/catalog">Catalog</a>
                </li>
                @if(!isLoggedIn){
                <li>
                    <a routerLink="/register">Register</a>
                </li>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                } @else {
                <li>
                    <a routerLink="/create">List an item</a>
                </li>
                <li>
                    <a (click)="logout()" routerLink="#">Logout</a>
                </li>
                }


            </ul>
        </nav>
    </div>
    <div class="logo-wrapper">
        @if(isLoggedIn){
        <a routerLink="/profile"><span>{{username}}</span></a>
        }
        <img src="profile-logo.png" />
    </div>
</header>