* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.blog {
    width: 80%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
}

header,
main,
article,
footer {
    padding: 10px;
}

h4,
p,
h2 {
    margin-bottom: 20px;
}