<h1>Create Product</h1>
<form action="/create" method="post">
    <label>Name:<input type="text" name="productName"></label>
    <label>Price:<input type="number" name="price"></label>
    <label>Image URL:<input type="text" name="img"></label>
    <input type="submit" value="Publish">
</form>