header {
    background-color: #421a03;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #3b8ea5;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    height: 75px;
    width: auto;
}
